@import url('./src/reset.css');
@import url('./src/typography.css');
@import url('./src/varibales.css');
@import url('./src/navbar.css');
@import url('./src/home.css');
@import url('./src/chat.css');
@import url('./src/profil.css');
@import url('./src/tabs.css');
@import url('./src/toggle.css');
@import url('./src/colors.css');
@import url('./src/popup.css');
@import url('./src/menu.css');
body {
  font-family: var(--font);
  color: var(--dark);
}

.debug {
  border: 1px solid red;
}
a:visited {
  color: inherit;
  text-decoration: none;
}