@import url('./src/reset.css');
@import url('./src/typography.css');
@import url('./src/varibales.css');
@import url('./src/navbar.css');
@import url('./src/home.css');

body {
  font-family: var(--font);
  color: var(--dark);
}

.debug {
  border: 1px solid red;
}
