.home-page {
}

.home-container {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game-modes-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

