.tab-box {
	display:flex;
	flex-direction: column;
	position: relative;
	word-break: break-all;
	overflow: hidden;
}

.tabs-header {
	display: flex;
	height: 10%;
	padding-left: 30px;
	border-bottom: 5px solid var(--dark);
	padding-bottom: 10px;
	overflow: visible;
}

.tabs-content {
	height: 90%;
}

.pink-header {
	background-color: var(--hotpink);
}

.tab {
	background-color: var(--sunny);
	border: 5px solid var(--dark);
	border-radius: 20px 20px 0 0;
	width: 10%;
	margin-top: 2%;
	cursor: pointer;
	outline: none;
	font-family: var(--font);
	font-size: 1.5rem;
	margin-bottom: -15px;
}

.active-tab {
	background-color: var(--light);
	border-bottom: transparent;
}

.tabs-content {
	
}

.tab-content {
	position: relative;
	height: 100%;
	display: none;
}

.active-tab-content {
	display: block;
}

.settings-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 100px 50px;
}

.setting-box {
	height: 80%;
	width: 30%;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.svg-text {
	max-width: 100%;
	height: 50%
}

.svg-text-margin {
	max-width: 90%;
	margin-top: 20px;
}

.retro-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20%;
	width: 100%;
}

.retro-button {
	background-color: var(--hotpink);
	cursor: pointer;
	outline: none;
	font-family: var(--font);
	font-size: 2rem;
	height: 60%;
	width: 50%;
	border: 5px solid var(--shadow);
	border-radius: 40px;
	box-shadow: -10px 10px 0px var(--shadow);
}

.retro-button:hover {
	background-color: var(--sunny);
}

.nickname-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 20%;
}

.nickname-input input {
	border: 4px solid var(--dark);
	background-color: rgb(255, 177, 175, 0.4);
	padding: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 1.5rem;
	height: 60%;
	width: 80%;
	font-family: var(--font);
	outline: none;
	color: var(--dark);
}

.nickname-button img {
	max-width: 100%;
	margin-right: 10px;
	margin-left: 10px;
}

.nickname-button img:hover {

}	