:root{
    --dark: #333231;
	--shadow: #272324;
	--light: #fff6eb;
	--line: #e3dbd1;
    --orange: #fbbe86;
	--apricot: #f68d4d;
	--coral: #f7d7ba;
	--green: #458858;
    --red: #F68074;
	--peach: #efb392;
	--beige: #f9e1bd;
	--teal: #00AA7C;
	--sunny: #FECD1A;
	--hotpink: #DF7495;
	--transpink: #fce9e9;
	--lightpink: #ffb1af;
	--hotorange: #ff8443;
	--transorange: #fae9e0;
	--lightorange: #fc985b;
	--hotblue: #4470ae;
	--transblue: #f5f9ff;
	--lightblue: #6b92c9;
	--hotgreen: #CDE223;
	--transgreen: #FDFBE4;
	--lightgreen: #DDED80;
    --font: 'League Gothic', sans-serif;
}

