:root{
    --dark: #333231;
	--shadow: #272324;
	--light: #fff6eb;
	--line: #e3dbd1;
    --orange: #fbbe86;
	--apricot: #f68d4d;
	--coral: #f7d7ba;
	--green: #458858;
    --red: #F68074;
	--peach: #efb392;
	--beige: #f9e1bd;
	--teal: #00AA7C;
    --font: 'League Gothic', sans-serif;
}

